#topics .topic-image img {
  width: 558px;
  object-fit: cover;
}

#topics .topics-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 24px;
  margin-right: 250px;
}

#topics .topics-list li {
  color: #fff;
  font-family: Alegreya;
  font-size: 20px;
  font-weight: 400;
  margin: 24px 0;
  position: relative;
}

#topics .topics-list li:before {
  content: '';
  position: absolute;
  background: var(--red-color);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  left: -24px;
  top: 50%;
  transform: translateY(-50%);
}

#topics .section-container {
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}

#topics .wrapper {
  position: relative;
}

#topics .topicsElement1 {
  position: absolute;
  right: -24px;
  bottom: 0px;
}

@media (max-width: 1040px) {
  #topics .topic-image img {
    width: 385px;
    height: 280px;
  }
  #topics .topics-list {
    margin-right: 120px;
  }
  #topics .topicsElement1 {
    bottom: 45px;
  }
}

@media (max-width: 720px) {
  #topics .topic-image img {
    display: none;
  }
  #topics .topicsElement1 {
    right: 32px;
  }
  #topics .topics-list {
    margin-right: 0;
  }
}
