*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --dark-color: #181e1e;
  --red-color: #e63946;
  --pink-color: #ff6864;
  --yellow-color: #ffca28;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

/* SECTIONS */

section {
  padding: 80px 0;
  color: #fff;
}

section h2 {
  color: #fff;
  font-size: 40px;
  font-weight: 900;
  line-height: 48px;
  position: relative;
}

html {
  scroll-behavior: smooth;
}

section h2::after {
  content: '';
  width: 80px;
  height: 4px;
  background: #e63946;
  position: absolute;
  bottom: -5px;
  left: 0;
}

section h2.light::after {
  background: var(--yellow-color);
}

.black {
  background: #000;
}

.dark-gray {
  background: var(--dark-color);
}

.pink {
  background: var(--pink-color);
}

section .content-container {
  display: flex;
}

@media (max-width: 1040px) {
  .wrapper {
    max-width: 694px;
  }
}

@media (max-width: 720px) {
  .wrapper {
    padding: 0 32px;
  }

  section h2 {
    font-size: 24px;
  }

  section h2::after {
    width: 50px;
    bottom: 0;
  }
}
