*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --dark-color: #181e1e;
  --red-color: #e63946;
  --pink-color: #ff6864;
  --yellow-color: #ffca28;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}
