header {
  min-height: 100vh;
  background: url('../../assets/hero-image.png');
  background-size: cover;
  background-position: center;
}

header .wrapper {
  position: relative;
  height: 100vh;
}

header .cta {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 453px;
  height: 326px;
  border-radius: 20px 20px 0 0;
  border-top: 4px solid #fff;
  border-right: 4px solid #fff;
  border-left: 4px solid #fff;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(25px);
  padding: 50px 40px;
}

header .cta .course-name {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  position: relative;
}

header .cta .course-name::after {
  content: '';
  position: absolute;
  width: 60px;
  height: 4px;
  background: var(--red-color);
  left: 0;
  bottom: -5px;
}

header .cta h1 {
  color: #fff;
  font-family: Alegreya;
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
}

header .cta .demo-btn {
  display: inline-flex;
  padding: 10px 32px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 10px;
  background: var(--red-color);
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  margin-top: 20px;
}
