nav {
  position: fixed;
  width: 1024px;
  border-radius: 0 0 10px 10px;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 300;
  padding: 15px 32px;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 50px;
}

nav ul li a,
a.logo {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

a.logo .red {
  color: var(--red-color);
}
