footer .content-container {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

footer .social-icons {
  display: flex;
  gap: 16px;
  margin: 24px 0;
}

footer .copyright {
  color: #fff;
  font-family: Alegreya;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

footer a {
  color: #fff;
}

footer a:hover {
  text-decoration: underline;
}

footer .links h3 {
  color: #ff6864;
  font-family: Alegreya;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}

footer .links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer .links ul li {
  color: #fff;
  font-family: Alegreya;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin: 8px 16px;
}

footer .logo {
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  display: block;
  margin-bottom: 24px;
}

footer .copyright.mobile {
  display: none;
}

@media (max-width: 720px) {
  footer .content-container {
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
  }

  footer .copyright {
    display: none;
  }

  footer .copyright.mobile {
    display: block;
    margin-top: 16px;
  }

  footer .social-icons {
    margin: 0;
  }
}
