#testimonials .content-container {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

#testimonials .testimonial {
  width: 264px;
}

#testimonials .testimonial img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

#testimonials .reviewer-details .name {
  color: #fff;
  font-family: Alegreya;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 16px;
}

#testimonials .reviewer-details .company-name {
  font-size: 13px;
  text-transform: uppercase;
  padding: 6px 0;
  opacity: 0.7;
}

#testimonials .reviewer-details .review {
  color: #fff;
  font-family: Alegreya;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-top: 4px;
}

@media (max-width: 1040px) {
  #testimonials .content-container {
    flex-direction: column;
    gap: 50px;
    margin-top: 50px;
    margin-left: 20px;
  }
  #testimonials .testimonial {
    display: flex;
    gap: 28px;
    width: 100%;
  }
}

@media (max-width: 720px) {
  #testimonials .testimonial {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  #testimonials .reviewer-details {
    text-align: center;
  }
}
